/* styles/Navbar.css */
.navbar {
    padding: 15px;
    display: flex;
    background-color: #d1e0e4;
    align-items: center;
    max-width: 6000px;
    border-radius: 100px;
    margin: 0 auto;
    border-bottom: 1px solid #f2f2f2;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; /* Set a higher z-index to make sure it appears on top */
  }
  .navbar h1 {
    color: #0056b3;
  }
  .navbar .links {
    margin-left: auto;
  }
  .navbar a {
    margin-left: 16px;
    text-decoration: none;
    padding: 6px;
  }
  .navbar a:hover {
    color: #0056b3;
  }